body {
  background-color: #8BD3E6
}

div {
  width: 1vw;
  height: 1vw;
  font-size: 5vw;
  margin-left: 45%;
  margin-top: 20%;
  animation: mymove 10s infinite;
}

@keyframes mymove {
  0%  {
    transform: rotate(15deg) translateY(-5vw);
  }
  25%  {
    transform: rotate(-15deg) translateY(5vw);
  }
  55%  {
    transform: rotate(15deg) translateY(-5vw);
  }
  75% {
    transform: rotate(-15deg) translateY(5vw);
  }
  100%  {
    transform: rotate(15deg) translateY(-5vw);
  }
}